.directory-menu {
    width: 100%;
    // width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 690px)  {
      display: block;
  }
  }
  